<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <form class="form-horizontal" method="GET">
          <div class="form-group">
            <label class="col-lg-4 control-label" for="balance"><b>Balance</b></label>
            <input type="number" class="form-control" id="balance" name="balance" placeholder="Balance">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button class="btn btn-success" type="submit"> Add Balance</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
