{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    {{ field.label }} <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    {{ field.label }} <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <table class="form form-table">
    <h2 class="display-4 font-italic centered">New Client</h2>
    <legend class="border-bottom mb-4 centered"></legend>
        {{ form }}
        <tr>
            <td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td>
    </table>
</form>
{% endblock %}